<style>
    
    .img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 767px) {
        .flex-lg-row-reverse {
            flex-direction: column;
            align-items: center;
        }

        .fw-bold {
            text-align: center;
        }

        .lead {
            text-align: center;
        }

        .entrie__img img {
            max-width: 100%;
            height: auto;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .entrie__img img {
            max-width: 80%;
        }
    }
    @media only screen and (max-width: 768px) {
    .entrie__img {
        width: calc(50% - 5px);
        height: auto;
        margin-bottom: 10px;
    }

    .entrie__img--large {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 769px) {
    .entrie__img {
        width: 180px;
        height: 160px;
        margin-bottom: 10px;
    }

    .entrie__img--large {
        width: 180px;
        height: 240px;
        margin-bottom: 10px;
    }
}

</style>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
            What's poppin
        </h1>
        <p class="lead">
            Peep this, my homies! I'm all about dishing the deets on what's lit in the world of music production and tech coding. I've got the scoop on all the fresh beats and coding tricks that'll have you feeling like a boss. Don't miss out on the hype, check out my page for the lowdown on what's happening in these scenes.
        </p>
    </div>
    <div class="col-12 col-lg-6 img-wrap">
        <img src="content/image__4pPlhA4_1676064886473_raw.jpg" width="320" height="320" class="d-block mx-lg-auto img-fluid rounded-circle" loading="lazy" alt="A man looking old with glasses">
    </div>
    <div class="d-grid d-md-flex justify-content-md-center">
        <a href="/thing-of-today" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Thing of today</a>
    </div>
</div>


<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 text-center">
    <a href="https://soundcloud.com/soberbober" class="col entrie__link d-flex flex-column align-items-center">
        <div class="entrie__img shadow">
            <img src="content/unnamed.webp" class="img-fluid" alt="Sober Bober" loading="lazy">
        </div>
        <div class="pt-1">SoundCloud</div>
    </a>
    <a href="https://www.instagram.com/" class="col entrie__link d-flex flex-column align-items-center">
        <div class="entrie__img shadow">
            <img src="content/instagram.png" class="img-fluid" alt="Instagram" loading="lazy">
        </div>
        <div class="pt-1">Instagram</div>
    </a>
    <a href="https://www.linkedin.com/in/illia-kohut-08239519a/" class="col entrie__link d-flex flex-column align-items-center">
        <div class="entrie__img shadow">
            <img src="content/174857.png" class="img-fluid" alt="LinkedIn" loading="lazy">
        </div>
        <div class="pt-1">LinkedIn</div>
    </a>
    <a href="https://github.com/eliaskohut" class="col entrie__link d-flex flex-column align-items-center">
        <div class="entrie__img shadow">
            <img src="content/github.png" class="img-fluid" alt="GitHub" loading="lazy">
        </div>
        <div class="pt-1">GitHub</div>
    </a>
</div>

<section class="pb-4 pt-5">
    <div class="d-flex mb-2 text-center">
        <a href="/images" class="col d-flex flex-column" style="text-decoration: none;">
            <h2 class="display-7 fw-bold" sty>Images</h2>
        </a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">
        <% if(imageEntries != '') { %>
            <% imageEntries.forEach(function(entrie, index) { %>
                <a href="/entrie/<%- entrie._id %>" class="col text-center entrie__link">
                    <div class="entrie__img entrie__img--large shadow">
                        <img src="content/<%- entrie.filename %>" class="img-fluid" alt="<%- entrie.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- entrie.name %></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 text-center">
        <a href="/music" class="col d-flex flex-column" style="text-decoration: none;">
            <h2 class="display-7 fw-bold" sty>Music</h2>
        </a>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">
        <% if(audioEntries != '') { %>
            <% audioEntries.forEach(function(entrie, index) { %>
                <a href="/entrie/<%- entrie._id %>" class="col text-center entrie__link">
                    <div class="entrie__img entrie__img--large shadow">
                        <img src="content/note.png" class="img-fluid" alt="<%- entrie.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- entrie.name %></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>

<section class="pb-4 pt-2">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest entries</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 py-4">
        <% if(entries != '') { %>
            <% entries.forEach(function(entrie, index) { %>
            <a href="/entrie/<%- entrie._id %>" class="col text-center entrie__link">
                <div class="entrie__img entrie__img--large shadow">
                    <% if (entrie.filename.endsWith('.mp3')) { %>
                        <img src="content/note.png" class="img-fluid" alt="<%- entrie.name %>" loading="lazy">
                    <% } else { %>
                        <img src="content/<%- entrie.filename %>" class="img-fluid" alt="<%- entrie.name %>" loading="lazy">
                    <% } %>
                </div>
                <div class="pt-1"><%- entrie.name %></div>
            </a>
            <% }) %>
        <% } %>
    </div>
</section>

<section class="px-4 py-4 my-4 text-center">
    <img class="d-block mx-auto mb-4 img-fluid" src="/content/aphex-twin---xtal-and-smoking-some-zaza-volodymyr-zelensky-optional-tame-impala_oEE6ZT1Y_upscaled.jpg" alt="Aphex Twin" width="500" height="250" loading="lazy">
    <h1 class="display-5 end_fun">Polar bears are incomrehensible</h1>
</section>